@{
    ViewData["Title"] = "About";
}

<br />
<br />
<p>
    Aplicativo que utiliza a tecnologia C# Windows Forms nativo com persistência dos dados
    em arquivo XML localizado no próprio diretório de instalação do app.
</p>


<p>
    Observação: Não foi utilizado biblioteca de terceiros na implementação deste app.
</p>


<p> Objetivo </p>

<br />
<p>
    O aplicativo é um cadastro de Ferramentas onde e possível indicar os dados da ferramenta com objetivo de pré-requisito para realização da primeira etapa do curso de Testes Unitários no ERP RM.

    Foram criados os testes unitários e também o Castle.Windsor no projeto.

    Estou Mingrando este App de Windows Forms para Asp Net. MVC Core. Seguindo as tendências de mercado :)
</p>
<br />
<br />
<p>   Desenvolvedor: Paulo André da Rocha </p>

<a href="https://github.com/boyshot/Minhas-Ferramentas-App">Endereço Projeto GitHub</a>

